@use "../variables.scss" as *;

.navigation-wrapper {
  width: 100%;
  background-color: $gray-50;
  padding: 0 100px;
  .navigation-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1320px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
    @media (max-width: 1100px) {
      align-items: normal;
    }
    overflow: hidden;
    height: 47px;

    // padding: 24px 0;
    .menu-container {
      display: none;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      .icon {
        width: 24px;
        height: 24px;
        color: $gray-600;
      }
      @media (max-width: 1100px) {
        display: flex;
      }
    }
    .links {
      display: flex;
      align-items: center;
      gap: 24px;
      @media (max-width: 1100px) {
        flex-direction: column;
        gap: 0;
        align-items: normal;
      }
      a {
        color: $gray-600;
        text-decoration: none;
        padding: 14px 0;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 20px; /* 142.857% */
        cursor: pointer;
        &:hover {
          color: $gray-900;
        }
        &.active {
          box-shadow: 0px -2px 0px 0px #0a65cc inset;
          color: #0a65cc;
        }
        @media (max-width: 1100px) {
          height: 47px;
          width: fit-content;
        }
      }
    }
    .info {
      display: flex;
      gap: 24px;
      padding: 14px 0;
      @media (max-width: 1100px) {
        display: none;
      }
      .phonenum-container {
        color: $gray-900;
        display: flex;
        align-items: center;
        gap: 8px;

        span {
          flex-grow: 1;
          color: $gray-900;

          /* Body/Small/500 */
          font-family: Inter;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 20px; /* 142.857% */
        }
      }
      .lang-toggle-container {
        position: relative;
        display: flex;
        align-items: center;
        img {
          width: 24px;
          height: 16px;
        }
        .flag {
          margin-right: 12px;
        }
        .lang-toggle {
          display: flex;
          align-items: center;
          position: relative;
          color: $gray-600;

          cursor: pointer;
          .span {
            margin-right: 8px;
            color: $gray-900;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
          }
        }
        .dropdown {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          background-color: $gray-50;
          border-radius: 4px;
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
          padding: 16px;
          display: none;
          flex-direction: column;
          gap: 8px;
          z-index: 1;
          &.active {
            display: flex;
          }
          .dropdown-item {
            display: flex;
            align-items: center;
            color: $gray-900;
            font-family: Inter;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 20px; /* 142.857% */
            cursor: pointer;
            &:hover {
              color: #0a65cc;
            }
          }
        }
      }
    }
  }
}
