.testimonials-card {
  flex: 1 1 0%;
  width: 424px;
  padding: 24px 24px 26px 24px;
  height: 294px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  border-radius: 12px;
  background: var(--Gray-Scale-White, #fff);

  /* Testimonial Card */
  //   box-shadow: 0px 12px 80px 0px rgba(0, 44, 109, 0.05);
  .top {
    width: 100%;
    display: flex;
    gap: 16px;
    flex-direction: column;
    .stars-container {
      display: flex;
      align-items: center;
      gap: 8px;
      .star {
        color: #ffaa00;
        width: 28px;
        height: 28px;
      }
    }
    .text {
      color: var(--Gray-Scale-700, #464d61);
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; /* 150% */
    }
  }
  .bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .user-info-wrapper {
      display: flex;
      gap: 16px;
      .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        .name {
          color: var(--Gray-Scale-900, #191f33);
          font-size: 16px;
          font-weight: 600;
          line-height: 24px; /* 150% */
        }
        .job {
          color: var(--Gray-Scale-500, #767e94);
          font-size: 14px;
          font-weight: 400;
          line-height: 20px; /* 142.857% */
        }
      }
    }
  }
}
