.section-featured-job {
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }
  .featured-jobs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
}
